<p>sidnav works!</p>
<!-- side nav of user -->
<div class="side-nav-content">
    <!-- <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}"> -->

        <!-- dashboard -->
        <li class="nav-list-item">
            <a routerLink="dashboard" aria-current="page">
                <i class="fa-solid fa-chart-line"></i>
                <span>
                    Dashboard
                </span>
            </a>
        </li>
        <!-- task details for user -->
        <li class="nav-list-item">
            <a routerLink="task">
                <i class="fa-solid fa-table"></i>
                <span>
                    Task Details
                </span>
            </a>
        </li>

        <!-- profile -->
        <li class="nav-list-item">
            <a routerLink="app-profile">
                <i class="fa-solid fa-user"></i>
                <span>
                    Profile
                </span>
            </a>
        </li>

        <!-- logout -->
        <!-- <li class="nav-list-item">
            <a (click)="logOut()">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span>
                    Logout
                </span>
            </a>
        </li> -->
    <!-- </ul> -->
</div>