.logo-EMP{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    color: #02391f;
}
.ul-nav>li{
padding: 17px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.nav-div:hover{
   background-color: #3e466b;
   border-radius: 18px;
   color: rgb(255, 127, 165);
}
.btn1{
    background-color: hsl(189, 76%, 24%);
    border: 0;
}
.sub-links{
    background-color:#02134f ;
    border-radius: 10px;
    
}