.main{
    margin-top: 30px;
}
th{
    color: #ffff;
    font-size: 18px;
}
td{
    color: #ffff;
    font-size: 14px;
}
table{
    background-color: #521e1e;
}
.btn{
    background-color: #a84118;
}
.btn:hover{
    background-color: #a84118;
}
.btn-div{
    margin-top: -8px;
}
